{% extends "@PPCore//layout.html.twig" %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/ppcore/css/styleContact.css') }}">
{% endblock %}

{% block body %}
    <!--*******************HEADER SECTION*******************-->
	<header>
		<div class="header-inside">
			<a href="{{ path('pp_core_homepage')}}"><h1>Pierre<span class="blueTxt">PORTELETTE</span></h1></a>
			<nav>
				<ul>
					<a href="{{ path('pp_core_homepage')}}"><li>About</li></a>
					<a href="{{ path('pp_core_resume')}}"><li>Resume</li></a>
					<a href="{{ path('pp_core_portfolio')}}"><li>Portfolio</li></a>
					<a href="{{ path('pp_core_contact')}}"><li class="active">Contact</li></a>
				</ul>
			</nav>
		</div>
	</header>

	<section id="contact">
		<h2 class="pageTitle">{{ 'contact.title'| trans }}</h2>
		<div class="elements">
		{% for message in app.session.flashbag.get('info') %}
            <p class="flashMessage">{{ message }}</p>    
        {% endfor %}
			<div class="inline">
				{{ form_start(form, {'attr': {'class': 'contactForm whityBkg'}}) }}

            	{{ form_errors(form) }}
					<div class="inline">
						{{ form_errors(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': '', 'placeholder': 'contact.Name*' | trans}}) }}

						{{ form_errors(form.phone) }}
                        {{ form_widget(form.phone, {'attr': {'placeholder': 'contact.Phone' | trans }}) }}
					</div>
					{{ form_errors(form.email) }}
					{{ form_widget(form.email, {'attr': {'placeholder': 'contact.E-mail*' | trans}}) }}

					{{ form_errors(form.body) }}
					{{ form_widget(form.body, {'attr': {'placeholder': 'Message*' | trans}}) }}

					<div style="visibility: hidden; height: 0;">
						{{ form_widget(form.robot, {'attr': {'class': '', 'placeholder': 'Firstname*' | trans}}) }}
					</div>

					{{ form_widget(form.send, {'label': 'contact.send_button' | trans, 'attr': {'class': 'btn'}}) }}
				
				{{ form_rest(form) }}

				{{ form_end(form) }}
				
			</div>
		</div>
		<img src="{{ asset('bundles/ppcore/img/shanghai-skyline-silhouette.png') }}" alt="shanghai-skyline-silhouette"/>
	</section>

{% endblock %}