{% extends "@PPCore//layout.html.twig" %}

{% block title %}{{ parent() }} - Messages{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/ppcore/css/styleCore.css') }}">
{% endblock %}
{% block body %}
  <section class="">
    <div id="homePage" style="margin: 10px 10%;">
      <h3>Messages reçus</h3>
        {% for message in messages %}
        <div class="whityBkg">
            <h4 class="title"><strong>{{ message.name }}</strong>, reçu le {{ message.date|date('d/m/Y \\à H:i') }}</h4>
            <h5>{{ message.email }} | {{ message.phone }}</h5>
            <p class="marginTop marginBottom">{{ message.body }}</p>
        </div>
        {% endfor %}
    </div>
  </section>

{% endblock %}