{% extends "@PPCore//layout.html.twig" %}

{% block title %}{{ parent() }} - Portfolio{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/ppcore/css/stylePortfolio.css') }}">
{% endblock %}
{% block body %}
    <!--*******************HEADER SECTION*******************-->
	<header>
		<div class="header-inside">
			<a href="{{ path('pp_core_homepage')}}"><h1>Pierre<span class="blueTxt">PORTELETTE</span></h1></a>
			<nav>
				<ul>
					<a href="{{ path('pp_core_homepage')}}"><li>About</li></a>
					<a href="{{ path('pp_core_resume')}}"><li>Resume</li></a>
					<a href="{{ path('pp_core_portfolio')}}"><li class="active">Portfolio</li></a>
					<a href="{{ path('pp_core_contact')}}"><li>Contact</li></a>
				</ul>
			</nav>
		</div>
	</header>

    <section id="portfolio">
        <h2 class="pageTitle">{{ 'portfolio.title'| trans }}</h2>
        <div class="projectsList whiteBkg">
            <a href="http://project4.pierreportelette.com" target="_blank">
                <div class="project whityBkg">
                    <img src="{{ asset('bundles/ppcore/img/project4-icon.png') }}" alt="Screen project 4">
                    <div class="divText">
                        <h4>{{ 'portfolio.project4.title'| trans}}</h4>
                        <p>{{ 'portfolio.project4.desc'| trans }}</p>
                    </div>
                </div>
            </a>
            <a href="#" target="">
                <div class="project whityBkg">
                    <img src="{{ asset('bundles/ppcore/img/omega-pv-icon.png') }}" alt="Screen omega pv">
                    <div class="divText">
                        <h4>{{ 'portfolio.omegapv.title'| trans}}</h4>
                        <p>{{ 'portfolio.omegapv.desc'| trans }}</p>
                    </div>
                </div>
            </a>
            <a href="http://project3.pierreportelette.com" target="_blank">
                <div class="project whityBkg">
                    <img src="{{ asset('bundles/ppcore/img/project3-icon.png') }}" alt="Screen project 3">
                    <div class="divText">
                        <h4>{{ 'portfolio.project3.title'| trans}}</h4>
                        <p>{{ 'portfolio.project3.desc'| trans }}</p>
                    </div>
                </div>
            </a>
            <a href="http://project2.pierreportelette.com" target="_blank">
                <div class="project whityBkg">
                    <img src="{{ asset('bundles/ppcore/img/project2-icon.png') }}" alt="Screen project 2">
                    <div class="divText">
                        <h4>{{ 'portfolio.project2.title'| trans}}</h4>
                        <p>{{ 'portfolio.project2.desc'| trans }}</p>
                    </div>
                </div>
            </a>
            <a href="http://project1.pierreportelette.com" target="_blank">
                <div class="project whityBkg">
                    <img src="{{ asset('bundles/ppcore/img/project1-icon.png') }}" alt="Screen project 1">
                    <div class="divText">
                        <h4>{{ 'portfolio.project1.title'| trans}}</h4>
                        <p>{{ 'portfolio.project1.desc'| trans }}</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
    
{% endblock %}

