<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}SmallDoor{% endblock %}</title>
        <link rel="stylesheet" href="c:\wamp\www\myWebSite\web\bundles/ppcore/css/bootstrap.min.css">
        <link rel="stylesheet" href="c:\wamp\www\myWebSite\web\bundles/ppcore/css/styleResumePdf.css">
    </head>

    <body>
        <div class="container">
            <div class="photoResume premierplan">
                <img class="widthSized" style="border-radius: 50%;" src="c:\wamp\www\myWebSite\web\bundles/ppcore/img/PhotoProfile.png" alt="image1"/>
            </div>

            <div class="sections marginTop">
                {# LEFT SECTION #}
                <section class="mygrey">
                    {# IDENTITY #}
                    <div class="marginLeft marginTop column marginBottom">
                        <p class="resumeTitle">{{ user.surname}} {{ user.name|upper }}</p>
                        <div class="">
                            <div class="col-md-3 displayInline">{{ user.city }}, {{ user.country }}</div>
                            <div class="col-md-5 displayInline">T: {{ user.phone }}</div>
                        </div>
                        <div class="">
                            <div class="col-md-3 displayInline">{{ user.age }} years old</div>
                            <div class="col-md-5 fontOrange displayInline">M: {{ user.email }}</div>
                        </div>
                    </div>
                    {# PROFESSIONALS #}
                    <div class="marginBottom paddingLeft marginTop">
                        <table width="100%">
                            <tr>
                                <td rowspan="2" style="width: 20%"><p class="resumeTitle">WORK</p></td>
                                <td class="lineNight fontGrey" style="width: 80%">p</td>
                            </tr>
                            <tr>
                                <td class="fontGrey">p</td>
                            </tr>
                        </table>
                    </div>
                {% for professional in items.professionals %}
                    <div class="marginBottom marginTop paddingLeft paddingRight">
                        <p class="resumeItemTitle">{{ professional.position }}</p>
                        <div class="resumeItemSubtitle marginbottom">
                            {% if professional.endDate > professional.startDate %}
                            <p class="displayInline">{{ professional.startDate|date('m/Y') }} - {{ professional.endDate|date('m/Y') }} | </p>
                            {% else %}
                            <p class="displayInline">{{ professional.startDate|date('m/Y') }} - Today | </p>
                            {% endif %}
                            <p class="companyName displayInline"> {{ professional.companyName }} </p>
                            <p class="displayInline"> | {{ professional.city }}</p>
                        </div>
                        <p class="" style="text-align: justify">{{ professional.description|nl2br }}</p>
                    </div>
                {% endfor %}
                </section>

                {# RIGHT SECTION #}
                <section class="night education">
                    {# INTERNSHIPS #}
                    <div class="marginTop marginBottom paddingRight">
                        <table width="100%">
                            <tr class="">
                                <td class="lineGrey fontNight" style="width: 65%">p</td>
                                <td rowspan="2" style="width: 35%"><p class="resumeTitle right">INTERNSHIPS</p></td>
                            </tr>
                            <tr>
                                <td class="fontNight">p</td>
                            </tr>
                        </table>
                    </div>
                    
                {% for internship in items.internships %}
                    <div class="marginBottom marginTop paddingRight paddingLeft">
                        <p class="resumeItemTitle">{{ internship.position }}</p>
                        <div class="resumeItemSubtitle horizontalRight marginbottom">
                            <p class="displayInline">{{ internship.duration }} months | </p>
                            <p class="companyName displayInline"> {{ internship.companyName }} </p>
                            <p class="displayInline"> | {{ internship.city }}</p>
                        </div>
                        <p class="">{{ internship.description|nl2br }}</p>
                    </div>
                {% endfor %}

                    {# EDUCATIONS #}
                    <div class="marginTop marginBottom paddingRight">
                        <table width="100%" class="">
                            <tr class="">
                                <td class="lineGrey fontNight" style="width: 65%">p</td>
                                <td rowspan="2"style="width: 35%"><p class="resumeTitle right">EDUCATION</p></td>
                            </tr>
                            <tr>
                                <td class="fontNight">p</td>
                            </tr>
                        </table>
                    </div>
                {% for education in items.educations %}
                    <div class="marginBottom paddingRight paddingLeft">
                        <div>
                            <p class="underline floatLeft">{{ education.startDate|date('Y') }} - {{ education.endDate|date('Y') }}</p>
                        
                            <div class="">
                                <p class="displayInline"><strong>{{ education.diploma }} in</strong></p>
                                <p class="fontOrange smallMarginLeft displayInline"><strong>{{ education.major }}</strong></p>
                            </div>
                            <p>{{ education.schoolName }}</p>
                        </div>
                    </div>
                {% endfor %}

                
                    {# LANGUAGES - COMPUTER SKILLS #}
                    <div class="bordered smallMarginRight paddingRight">
                        <div class="col-md-6 paddingBottom">
                            <p class="resumeTitle center">{{ 'LANGUAGES'|trans }}</p>
                            <p class="language"><strong>French:</strong><span class="fontOrange"> Native</span></p>
                            <p class="language"><strong>English:</strong><span class="fontOrange"> Proficient</span></p>
                            <p class="language"><strong>Chinese:</strong><span class="fontOrange"> Intermediate (HSK 4)</span></p>
                            <p class="language"><strong>Japanese:</strong><span class="fontOrange"> Beginner</span></p>
                        </div>
                        <div class="col-md-6 paddingBottom">
                            <p class="resumeTitle center">COMPUTER SKILLS</p>
                            <p class="language"><strong>Web development:</strong></p>
                            <p class="language"><span class="fontOrange">Symfony 3, html, css, php, javascript, Git</span></p>
                            <p class="language"><strong>Microsoft Office</strong></p>
                        </div>
                    </div>

                    {# OTHERS #}
                    <div class="marginBottom paddingLeft marginTop">
                        <table width="100%">
                            <tr>
                                <td rowspan="2" style="width: 50%"><p class="resumeTitle">OTHER ACTIVITIES</p></td>
                                <td class="lineGrey fontNight" style="width: 50%">p</td>
                            </tr>
                            <tr>
                                <td class="fontNight">p</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12 marginTop marginRight">
                        <div class="col-md-2 displayInline">
                            <svg class="hobbyWhite" width="50px" height="50px" viewBox="0 0 64 64">
                                <path d="M39,16h-8c-3.859,0-7-3.141-7-7c0-4.963-4.038-9-9-9H9C4.038,0,0,4.037,0,9v38h2v1h44.002v-1H48V25 C48,20.037,43.963,16,39,16z M8,46H4V30h3v9h1V46z M14,46h-4v-7h1v-9h2v9h1V46z M20,46h-4v-7h1v-9h3V46z M26,46h-3.999V30H25v9h1V46 z M32,46h-4v-7h1v-9h2v9h1V46z M38,46h-4v-7h1v-9h2v9h1V46z M44.002,46H40v-7h1v-9h3.002V46z M46,28H2V9c0-3.859,3.14-7,7-7h6 c3.86,0,7,3.141,7,7c0,4.963,4.037,9,9,9h8c3.859,0,7,3.141,7,7V28z"/>
                            </svg>
                        </div>
                        <div class="col-md-2 displayInline">
                            <svg class="hobbyOrange" width="50px" height="50px" viewBox="0 0 64 64">
                                <path d="M48,27v-3c0-1.654-1.346-3-3-3h-7.661c0.134-0.084,0.257-0.182,0.368-0.293c0.575-0.574,0.793-1.379,0.598-2.205 c-0.341-1.441-1.831-2.731-3.988-3.451c-1.338-0.445-1.338-0.445-3.452-2.09c-0.771-0.601-1.847-1.436-3.359-2.584 c2.637-1.668,5.927-3.796,10.05-6.545C37.833,3.646,38,3.334,38,3c0-1.654-1.346-3-3-3c-0.208,0-0.412,0.064-0.581,0.186 C29.968,3.365,26.592,5.83,24,7.751c-2.591-1.921-5.968-4.386-10.419-7.565C13.412,0.064,13.208,0,13,0c-1.654,0-3,1.346-3,3 c0,0.334,0.167,0.646,0.445,0.832c4.124,2.749,7.413,4.877,10.05,6.545c-1.513,1.148-2.588,1.983-3.359,2.584 c-2.115,1.645-2.115,1.645-3.453,2.09c-2.157,0.72-3.648,2.01-3.988,3.451c-0.195,0.826,0.023,1.631,0.598,2.205 c0.111,0.111,0.235,0.209,0.368,0.293H3c-1.654,0-3,1.346-3,3v3h2v15H0v3c0,1.654,1.346,3,3,3h42c1.654,0,3-1.346,3-3v-3h-2V27H48z M33.684,16.949c1.885,0.627,2.567,1.561,2.675,2.013c0.051,0.215-0.025,0.29-0.065,0.331c-0.028,0.028-0.14,0.082-0.355,0.082 c-0.866,0-2.362-0.83-2.984-2.678C33.163,16.773,33.4,16.854,33.684,16.949z M35.27,2.037c0.269,0.074,0.491,0.26,0.618,0.502 c-4.187,2.785-7.481,4.908-10.091,6.551c-0.041-0.03-0.08-0.061-0.121-0.091C28.129,7.185,31.251,4.909,35.27,2.037z M12.112,2.539 c0.127-0.242,0.35-0.428,0.619-0.502c4.019,2.872,7.14,5.147,9.594,6.962c-0.041,0.03-0.081,0.061-0.122,0.091 C19.594,7.447,16.299,5.324,12.112,2.539z M11.642,18.962c0.106-0.452,0.79-1.386,2.674-2.013c0.283-0.095,0.52-0.176,0.73-0.252 c-0.622,1.847-2.118,2.678-2.984,2.678c-0.216,0-0.327-0.054-0.355-0.082C11.667,19.252,11.591,19.177,11.642,18.962z M16.948,17.317c0.236-0.704,0.236-0.704,2.448-1.999c1.018-0.596,2.497-1.463,4.604-2.756c2.106,1.293,3.586,2.16,4.604,2.756 c2.213,1.295,2.213,1.295,2.448,1.998c0.626,1.879,1.927,3.111,3.254,3.684H13.694C15.022,20.428,16.322,19.195,16.948,17.317z M46,45c0,0.551-0.448,1-1,1H3c-0.551,0-1-0.449-1-1v-1h44V45z M15,29v-2h18v2h-2v11h2v2H15v-2h2V29H15z M35,29v-2h9v15h-9v-2h2V29 H35z M35,38h-2v-7h2V38z M15,38h-2v-7h2V38z M13,29h-2v11h2v2H4V27h9V29z M2,25v-1c0-0.551,0.449-1,1-1h42c0.552,0,1,0.449,1,1v1H2z "/>
                            </svg>
                        </div>
                        <div class="col-md-2 displayInline">
                            <svg class="hobbyWhite" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 605.482 605.482" style="enable-background:new 0 0 605.482 605.482;">s
                                <path d="M529.643,355.606c-38.715,14.116-81.563-5.842-95.671-44.572
                                    c-14.115-38.73,5.834-81.562,44.564-95.679c38.724-14.115,81.563,5.834,95.679,44.564
                                    C588.331,298.651,568.381,341.491,529.643,355.606L529.643,355.606z M103.523,386.23c9.307-8.146,23.352-20.442,53.809-20.442
                                    c30.457,0,44.493,12.296,53.792,20.435c6.216,5.452,8.083,7.09,18.909,7.09c10.833,0,12.701-1.638,18.9-7.082
                                    c9.307-8.146,23.352-20.442,53.808-20.442c30.457,0,44.485,12.296,53.793,20.435c6.199,5.452,8.083,7.09,18.908,7.09
                                    s12.709-1.638,18.9-7.082c5.222-4.562,12.065-10.38,22.326-14.656c0.223-13.933-4.006-31.713-17.033-50.652
                                    c-6.827-9.92-65.61-92.214-65.61-92.214l71.763-56.621c11.382-8.981,13.329-25.481,4.348-36.855
                                    c-8.989-11.382-25.474-13.305-36.855-4.348L281.91,202.98c-10.984,8.663-13.233,24.417-5.126,35.814l51.821,72.819l-198.94,48.356
                                    c-18.368,4.467-32.5,17.128-39.732,33.111C96.267,392.51,98.524,390.618,103.523,386.23L103.523,386.23z M565.941,416.123
                                    c7.034-6.144,12.089-10.603,27.619-10.603c6.597,0,11.922-5.325,11.922-11.922c0-6.581-5.325-11.922-11.922-11.922
                                    c-24.479,0-34.932,9.155-43.325,16.516c-7.312,6.391-12.589,11.008-29.367,11.008c-16.795,0-22.072-4.617-29.385-11.023
                                    c-8.393-7.353-18.828-16.5-43.324-16.5c-24.48,0-34.932,9.147-43.325,16.5c-7.312,6.406-12.59,11.023-29.376,11.023
                                    c-16.794,0-22.063-4.617-29.376-11.023c-8.401-7.353-18.845-16.5-43.325-16.5c-24.488,0-34.932,9.147-43.333,16.5
                                    c-7.296,6.406-12.582,11.023-29.376,11.023c-16.794,0-22.071-4.617-29.376-11.023c-8.401-7.353-18.845-16.5-43.325-16.5
                                    s-34.932,9.147-43.333,16.5c-7.296,6.406-12.574,11.023-29.376,11.023c-16.794,0-22.072-4.617-29.376-11.023
                                    c-8.417-7.345-18.861-16.5-43.341-16.5C5.341,381.677,0,387.018,0,393.599c0,6.597,5.341,11.922,11.922,11.922
                                    c15.515,0,20.593,4.451,27.611,10.603c8.616,7.543,19.338,16.922,45.089,16.922s36.474-9.379,45.089-16.922
                                    c7.026-6.151,12.105-10.603,27.62-10.603c15.514,0,20.593,4.451,27.611,10.603c8.616,7.543,19.337,16.922,45.089,16.922
                                    c25.751,0,36.474-9.379,45.089-16.922c7.026-6.151,12.097-10.603,27.619-10.603c15.515,0,20.578,4.451,27.611,10.603
                                    c8.616,7.543,19.338,16.922,45.09,16.922c25.743,0,36.474-9.379,45.089-16.922c7.034-6.151,12.089-10.603,27.62-10.603
                                    c15.53,0,20.601,4.451,27.627,10.603c8.607,7.543,19.33,16.922,45.09,16.922C546.611,433.045,557.333,423.674,565.941,416.123
                                    L565.941,416.123z M565.941,416.123c7.034-6.144,12.089-10.603,27.619-10.603c6.597,0,11.922-5.325,11.922-11.922
                                    c0-6.581-5.325-11.922-11.922-11.922c-24.479,0-34.932,9.155-43.325,16.516c-7.312,6.391-12.589,11.008-29.367,11.008
                                    c-16.795,0-22.072-4.617-29.385-11.023c-8.393-7.353-18.828-16.5-43.324-16.5c-24.48,0-34.932,9.147-43.325,16.5
                                    c-7.312,6.406-12.59,11.023-29.376,11.023c-16.794,0-22.063-4.617-29.376-11.023c-8.401-7.353-18.845-16.5-43.325-16.5
                                    c-24.488,0-34.932,9.147-43.333,16.5c-7.296,6.406-12.582,11.023-29.376,11.023c-16.794,0-22.071-4.617-29.376-11.023
                                    c-8.401-7.353-18.845-16.5-43.325-16.5s-34.932,9.147-43.333,16.5c-7.296,6.406-12.574,11.023-29.376,11.023
                                    c-16.794,0-22.072-4.617-29.376-11.023c-8.417-7.345-18.861-16.5-43.341-16.5C5.341,381.677,0,387.018,0,393.599
                                    c0,6.597,5.341,11.922,11.922,11.922c15.515,0,20.593,4.451,27.611,10.603c8.616,7.543,19.338,16.922,45.089,16.922
                                    s36.474-9.379,45.089-16.922c7.026-6.151,12.105-10.603,27.62-10.603c15.514,0,20.593,4.451,27.611,10.603
                                    c8.616,7.543,19.337,16.922,45.089,16.922c25.751,0,36.474-9.379,45.089-16.922c7.026-6.151,12.097-10.603,27.619-10.603
                                    c15.515,0,20.578,4.451,27.611,10.603c8.616,7.543,19.338,16.922,45.09,16.922c25.743,0,36.474-9.379,45.089-16.922
                                    c7.034-6.151,12.089-10.603,27.62-10.603c15.53,0,20.601,4.451,27.627,10.603c8.607,7.543,19.33,16.922,45.09,16.922
                                    C546.611,433.045,557.333,423.674,565.941,416.123L565.941,416.123z M565.941,463.318c7.034-6.159,12.089-10.595,27.619-10.595
                                    c6.597,0,11.922-5.341,11.922-11.922s-5.325-11.922-11.922-11.922c-24.479,0-34.932,9.132-43.325,16.492
                                    c-7.296,6.398-12.573,11.016-29.367,11.016c-16.795,0-22.072-4.617-29.385-11.016c-8.393-7.36-18.845-16.492-43.324-16.492
                                    c-24.48,0-34.932,9.132-43.325,16.492c-7.312,6.398-12.59,11.016-29.376,11.016c-16.794,0-22.063-4.617-29.376-11.016
                                    c-8.401-7.36-18.845-16.492-43.325-16.492c-24.488,0-34.932,9.132-43.333,16.492c-7.296,6.398-12.582,11.016-29.376,11.016
                                    c-16.794,0-22.071-4.617-29.376-11.016c-8.401-7.36-18.845-16.492-43.325-16.492s-34.932,9.132-43.333,16.492
                                    c-7.296,6.398-12.574,11.016-29.376,11.016c-16.794,0-22.072-4.617-29.376-11.016c-8.401-7.36-18.845-16.492-43.325-16.492
                                    c-6.581,0-11.922,5.341-11.922,11.922s5.341,11.922,11.922,11.922c15.515,0,20.594,4.436,27.612,10.587
                                    c8.616,7.543,19.337,16.922,45.089,16.922c25.751,0,36.474-9.379,45.081-16.922c7.034-6.151,12.113-10.587,27.627-10.587
                                    s20.593,4.436,27.612,10.587c8.616,7.543,19.337,16.922,45.089,16.922c25.752,0,36.474-9.379,45.082-16.922
                                    c7.034-6.151,12.105-10.587,27.627-10.587c15.515,0,20.578,4.436,27.62,10.587c8.607,7.543,19.329,16.922,45.081,16.922
                                    c25.744,0,36.474-9.379,45.09-16.922c7.033-6.151,12.089-10.587,27.619-10.587s20.602,4.436,27.627,10.587
                                    c8.616,7.543,19.33,16.922,45.09,16.922C546.611,480.232,557.333,470.854,565.941,463.318L565.941,463.318z"/>
                            </svg>
                        </div>
                        <div class="col-md-2 displayInline">
                            <svg class="hobbyOrange" width="40px" height="40px" viewBox="0 0 412.996 412.996">
                                <path d="M392.996,28.338H20c-11.047,0-20,8.954-20,20v234c0,11.046,8.953,20,20,20h139.498v45.32h-54.283
                                    c-10.201,0-18.5,8.299-18.5,18.5s8.299,18.5,18.5,18.5h202.566c10.201,0,18.5-8.299,18.5-18.5s-8.299-18.5-18.5-18.5h-54.283
                                    v-45.32h139.498c11.047,0,20-8.954,20-20v-234C412.996,37.292,404.043,28.338,392.996,28.338z M382.996,272.338H30v-214h352.996
                                    V272.338z"/>
                                <path d="M94.591,176.637l63.084,29.336c1.631,0.755,3.367,1.138,5.162,1.138c2.338,0,4.616-0.664,6.597-1.924
                                    c3.548-2.267,5.666-6.13,5.666-10.335v-0.322c0-4.751-2.785-9.115-7.096-11.119l-39.455-18.33l39.456-18.334
                                    c4.31-2.004,7.095-6.369,7.095-11.118v-0.319c0-4.211-2.119-8.074-5.665-10.334c-1.962-1.254-4.247-1.916-6.606-1.916
                                    c-1.778,0-3.563,0.391-5.16,1.133L94.59,153.525c-4.308,2.005-7.091,6.369-7.091,11.117v0.878
                                    C87.498,170.262,90.28,174.625,94.591,176.637z"/>
                                <path d="M175.662,236.389c2.301,3.149,6.002,5.029,9.901,5.029h0.315c5.352,0,10.042-3.426,11.672-8.516l41.557-128.76
                                    c1.192-3.717,0.53-7.818-1.771-10.974c-2.301-3.149-6.002-5.03-9.901-5.03h-0.314c-5.354,0-10.048,3.426-11.679,8.516
                                    L173.88,225.425C172.698,229.145,173.364,233.242,175.662,236.389z"/>
                                <path d="M237.896,135.628c0,4.746,2.782,9.11,7.095,11.122l39.455,18.33l-39.455,18.33c-4.311,2.004-7.096,6.368-7.096,11.119
                                    v0.322c0,4.205,2.117,8.068,5.669,10.336c1.974,1.258,4.254,1.923,6.595,1.923c1.792,0,3.527-0.383,5.169-1.142l63.081-29.335
                                    c4.307-2.009,7.089-6.372,7.089-11.115v-0.878c0-4.748-2.783-9.112-7.093-11.117l-63.08-29.334
                                    c-1.591-0.739-3.373-1.131-5.152-1.131c-2.358,0-4.644,0.662-6.604,1.912c-3.554,2.264-5.673,6.127-5.673,10.338V135.628
                                    L237.896,135.628z"/>
                            </svg>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>

