<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ 'site.name'|trans }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/ppcore/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/ppcore/css/styleLayout.css') }}">
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>


            {% block body %}
            {% endblock %}


        <script src="{{ asset('bundles/ppcore/js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('bundles/ppcore/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/ppcore/js/ajax.js') }}"></script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>